#auswahlKdNr {
    width: 100px;
    height: 300px;
}

#auswahlAuftrNr {
    width: 200px;
    height: 300px;
}

#auswahlProd {
    width: 500px;
    height: 300px;
}

#tdAuftragsspezifikation{
    border: 1px solid black;
    vertical-align: top;
}

#tableAuftragsspezifikation{
    border: 1px solid black;
}

table, th, td {
    border: 1px solid black;
}

#scanArea{
    display: inline-block;
    width: 300px;
    height: 300px;
}

#scanButton{
    position: relative;
    display: inline-block;
    top: 25%;
    width: 200px;
    height: 100px;
    background-color: red;
    color: white;
    font-weight: bold;
}

#checkArea{
    display: inline-block;
    width: 600px;
    height: 300px;
}

#buttonOK{
    position: relative;
    display: inline-block;
    top: 25%;
    width: 200px;
    height: 100px;
    background-color: grey;
    color: white;
    font-weight: bold;
}

#buttonNOK{
    position: relative;
    display: inline-block;
    top: 25%;
    width: 200px;
    height: 100px;
    background-color: grey;
    color: white;
    font-weight: bold;
}